<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <style>
    body {
      margin:0;
      font-family:Segoe UI;
      background:#0f172a;
      color:white;
    }

    nav {
      background:#020617;
      padding:15px;
      text-align:center;
    }

    nav a {
      margin:15px;
      color:white;
      text-decoration:none;
      font-weight:bold;
    }

    nav a:hover {
      color:#00f2fe;
    }

    .container {
      padding:40px;
    }
  </style>
</head>

<body>

<nav>
  <a href="/">Home</a>
  <a href="/blog/">My Journey</a>
  <a href="/about/">About</a>
  <a href="/contact/">Contact</a>
</nav>

<div class="container">
  {{ content }}
</div>

</body>
</html>
