<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>

<body>

  <!-- NAVBAR START -->
  <nav style="background:#0f172a; padding:15px; text-align:center;">
    <a href="/" style="margin:15px; color:white; text-decoration:none; font-weight:bold;">Home</a>
    <a href="/blog/" style="margin:15px; color:white; text-decoration:none; font-weight:bold;">My Journey</a>
    <a href="/about/" style="margin:15px; color:white; text-decoration:none; font-weight:bold;">About</a>
    <a href="/contact/" style="margin:15px; color:white; text-decoration:none; font-weight:bold;">Contact</a>
  </nav>
  <!-- NAVBAR END -->

  {{ content }}

</body>
</html>
